In [25]:

x=64
y=2
a=2

z=x/(y*(a**2))

print (z)

8.0

In [27]:
def sum(a,b) :
    z=a^
    return a+b

def sub(a,b) :
    return a-b

def mult(a,b):
    return a*b

def divi(a,b):
    return a/b

print(sum(20,10))

30

In [ ]:
print

In [34]:
x=11
y="2"

if isinstance (x,str) :
        print ("hello")
        
else:
    print("bye")

hello

In [ ]:
x= ['Kishor bin laden' ,'Vinnaaveann' , 'Om Milind']

len(x)

In [45]:
student= {
    "name" : "Vinnaaveann",
    "age" : 9
    
}

print(student["name"])

Vinnaaveann

In [1]:

def maths(a,b) :
    z= a + b
    print (z)
    
maths (10,20)  

def add(a,b) :
    z= a - b
    print (z)
    
add(10,20)

def add(a,b) :
    z= a/(b**2)
    print (z)

add(400,2)

def add(a,b,c,d) :
    z= a/(b**2) - c*d 
    print (z)
    
add(400,2,5,10)

30
-10
100.0
50.0

In [13]:
subjects = ["software", "chemistry" , "Spanish" , "Marathi" ]

def subject_availability (subject_name):
    if(is_available(subject_name)):
        return "the subject is available"
    else:
        return "subject has been removed"

    
def is_available(subject_name):
    return subject_name in subjects

input_subject =input ("Please enter the name of subject")
print (subject_availability(input_subject))

Please enter the name of subjectchemistry
the subject is available

NameError: name 'Alchemistry' is not defined